{% extends "base.html" %}
{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <div class="card p-4">
                <h3 class="mb-3">Edit Property</h3>

                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <button type="submit" class="btn btn-primary">
                        Update Property
                    </button>

                    <a href="{% url 'dashboard' %}"
                       class="btn btn-secondary ms-2">
                        Cancel
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
